@charset "utf-8";

/* 解决IOS默认滑动很卡的情况 */
/* 禁用iPhone中Safari的字号自动调整 */
* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 0.24rem;
    color: #252A36;
    /* font-family: PingFangSC, helvetica, 'Heiti SC'; */
    /* font-size:0.28rem; */
    font-family: PingFang-SC-Regular, PingFang-SC;
}

input[type='text'],
input[type='password'] {
    -webkit-appearance: none;
    border-radius: 0;
}

input {
    outline: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    vertical-align: middle;
    font-size: 0;
}

/* 禁止缩放表单 */
input[type='submit'],
input[type='reset'],
input[type='button'],
input {
    resize: none;
    border: none;
}

/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* 图片自适应 */
img {
    width: 100%;
    height: auto;
    width: auto\9;
    -ms-interpolation-mode: bicubic;
}

/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

em,
i {
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 0.24rem;
}

textarea {
    resize: none;
    /*禁用了文本的拖拉，尤其在谷歌下*/
}

.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

ul,
li,
dl,
dt,
dd {
    list-style: none;
}

a {
    color: #191c20;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*多行溢出 手机端使用*/
.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
